@using StpFoodBlazor.Helpers

@page "/about"

<PageTitle>About</PageTitle>

<div class="container" id="about-page">
  <h1 id="about-header">Downtown Saint Paul Deals</h1>
  <div class="container" id="about-content">
    Downtown Saint Paul food and drink deals compiled by
    <ul>
      <li>Visiting establishments</li>
      <li>Subscribing to mailing lists of establishments</li>
      <li>Participating in rewards programs for establishments (e.g., phone apps)</li>
    </ul>
    <div>
      Also gift card deals :).
    </div>
    <div id="links" class="mt-5">
      Sharable links
      <ul>
        <li><a href="/?hh=true">Happy hour deals</a></li>
        <li><a href="/?alcoholOnly=true&hh=true">Only deals with alcohol</a></li>
        <li><a href="/upcoming-deals">Only deals starting in future</a></li>
      </ul>
    </div>
    <div class="mt-5">
      See the code <a href="https://github.com/eebbesen/StpFoodBlazor"> here</a>
    </div>
    <div class="mt-5">
      version: @Helper.GetVersion()
    </div>
  </div>
</div>

