@inherits LayoutComponentBase
@using StpFoodBlazor.Models

<div role="rowgroup" id="deals_table_body">
    @{var rowCounter = 0;}
    @foreach (var deal in deals)
    {
    <div role="row" class="row@(rowCounter % 2 == 0 ? "" : " rounded bg-secondary bg-opacity-25")">
        @if (upcoming)
        {
            <div role="cell" class="col-1">@deal.Start</div>
        }
        else if (string.IsNullOrEmpty(selectedDayOfWeek))
        {
            <div role="cell" class="col-1">@deal.Day</div>
        }
        <div role="cell" class="col-3">@deal.Name</div>
        <div role="cell" class="col deal-text">
            @if (!string.IsNullOrEmpty(deal.URL))
            {
                <NavLink href=@deal.URL target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    <DealEventRowDeal Deal=deal></DealEventRowDeal>
                    <span class="visually-hidden"> (opens in new tab)</span>
                </NavLink>
            }
            else {
                <DealEventRowDeal Deal=deal></DealEventRowDeal>
            }
        </div>
    </div>
    rowCounter++;
    }
</div>

@code
{
    [Parameter]
    public required DealEvent[] deals { get; set; }

    [Parameter]
    public required string selectedDayOfWeek { get; set; }

    [Parameter]
    public required bool upcoming { get; set; }
}