
<div role="rowgroup">
    <div role="row" class="row bg-dark text-light rounded" id="deals_table_header">
        @if (upcoming)
        {
            <div role="columnheader" class="col-1">Date</div>
        }
        else if (string.IsNullOrEmpty(selectedDayOfWeek))
        {
            <div role="columnheader" class="col-1">Day</div>
        }

        <div role="columnheader" class="col-3">Place</div>
        <div role="columnheader" class="col">Deal</div>
    </div>
</div>

@code {
    [Parameter]
    public string? selectedDayOfWeek { get; set; }
    [Parameter]
    public bool upcoming { get; set; }
}
