@inherits LayoutComponentBase

<div class="row bg-dark text-light rounded" id="giftcards_table_header">
    <div class="col-2">Place</div>
    <div class="col-4">Deal</div>
    <div class="col-4">Terms</div>
    <div class="col">Start</div>
    <div class="col">End</div>
</div>

@code {
}
