@inherits LayoutComponentBase

<div class="row bg-dark text-light rounded" id="giftcards_table_header">
    <div class="col-5 col-md-2">Place</div>
    <div class="col-7 col-md-4">Deal</div>
    <div class="col-md-4 d-none d-md-block">Terms</div>
    <div class="col-md d-none d-md-block">Start</div>
    <div class="col-md d-none d-md-block">End</div>
</div>

@code {
}
