@inherits LayoutComponentBase
@using StpFoodBlazor.Models

<div id="giftcards_table_body">
    @{var rowCounter = 0;}
    @foreach (var giftcard in giftcards)
    {
    <div class="row@(rowCounter % 2 == 0 ? "" : " rounded bg-secondary bg-opacity-25")">
        <div class="col-5 col-md-2">@giftcard.Name</div>
        <div class="col-7 col-md-4">@giftcard.Deal</div>
        <div class="col-md-4 d-none d-md-block">@giftcard.Terms</div>
        <div class="col-md d-none d-md-block">@giftcard.End</div>
    </div>
    rowCounter++;
    }
</div>

@code
{
    [Parameter]
    public required GiftCard[] giftcards { get; set; }
}
