@inherits LayoutComponentBase

<div class="row align-items-center mb-2" id="filter-bar">
    <div class="d-flex align-items-center">
        <select class="select-element form-select" style="max-width: 9rem" id="day-of-week-select"
            @onchange="OnSelectedDayChanged" value="@selectedDayOfWeek">
            <option value="">All</option>
            @foreach (var dow in daysOfWeek)
            {
                <option value="@dow.ToString().ToLower()">@dow</option>
            }
        </select>
        <div class="form-check-inline ms-3 d-flex flex-row-reverse">
            <label for="happy-hour-checkbox" class="form-check-label d-flex">
                <span class="d-none d-sm-block ms-2">Happy Hour</span>
                <i class="bi bi-clock ms-1" data-bs-toggle="tooltip" title="happy hour"></i>
            </label>
            <input type="checkbox" class="form-check-input" id="happy-hour-checkbox" checked="@happyHour"
                @onchange="OnHappyHourChanged">
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required string selectedDayOfWeek { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSelectedDayChanged { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnHappyHourChanged { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnAlcoholChanged { get; set; }

    [Parameter]
    public bool happyHour { get; set; }
    [Parameter]
    public bool alcohol { get; set; }

    private static readonly List<DayOfWeek> daysOfWeek = Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>().ToList();

}