@page "/about"

<PageTitle>About</PageTitle>

<h1>Downtown Saint Paul Deals</h1>
<div class="container">
  Downtown Saint Paul food and drink deals compiled by
  <ul>
    <li>Visiting establishments</li>
    <li>Subscribing to mailing lists of establishments</li>
    <li>Participating in rewards programs for establishments (e.g., phone app notifications)</li>
  </ul>
</div>
