@using StpFoodBlazor.Helpers
@using StpFoodBlazor.Services
@using StpFoodBlazor.Models
@using StpFoodBlazor.Components.Layout.GiftCards
@inject IGiftCardService GiftCardServiceImpl

@page "/giftcards"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Gift Cards</PageTitle>

<div class="container mb-5">
@if (giftcards == null)
{
    <div class="row">
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <GiftCardsTableHeader />

    <GiftCardsTableBody giftcards="@giftcards"/>
}
</div>

@code {
    private GiftCard[]? giftcards;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            giftcards = await GiftCardServiceImpl.GetGiftCardsAsync();
            StateHasChanged();
        }
    }

    @* private void SortDeals()
    {
        giftcards = GiftCardSorter.Sort(giftcards);
    } *@
}
