@inherits LayoutComponentBase
@using StpFoodBlazor.Models

@if (!string.IsNullOrEmpty(Deal.HappyHour))
{
    <div class="d-inline-block">
        <span class="me-1 d-none d-md-block hh-icon" data-bs-toggle="tooltip" title=@Deal.HappyHour>&#128339;</span><div class="d-sm-block d-md-none me-1 fw-bold">@Deal.HappyHour</div>
    </div>
}
@if (!string.IsNullOrEmpty(Deal.Alcohol))
{
    <span class="me-1 alcohol-icon" data-bs-toggle="tooltip" title="alcohol">&#127866;</span>
}

@Deal.Deal

@code {
    [Parameter]
    public required DealEvent Deal { get; set; }
}
