@inherits LayoutComponentBase
@inject NavigationManager NavMan

<div class="page">
    <main>
        <div class="top-row px-4" id="navbar">
            <a id="root-nav" href="/" class=@(classValues(""))>Deals</a>
            <a id="giftcard-nav" href="giftcards" class=@(classValues("giftcards"))>Gift Cards</a>
            <a id="about-nav" href="about" class=@(classValues("about")) target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string uri = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        uri = NavMan.Uri;NavMan.ToBaseRelativePath(NavMan.Uri);
    }

    private string classValues(string uriTest) {
        if (uriTest == NavMan.ToBaseRelativePath(uri)) {
            return "d-none";
        }

        return "";
    }
}
