@using StpFoodBlazor.Helpers
@using StpFoodBlazor.Models
@using StpFoodBlazor.Services
@inherits LayoutComponentBase
@inject NavigationManager NavMan
@inject IHolidayService HolidayServiceImpl

<div class="page">
    <main>
        <div class="top-row px-4" id="navbar">
            <div id="messages" class="messages w-100 text-center marquee">
                <div class="marquee-content">
                    @foreach (var holiday in holidayStrings)
                    {
                        <span class="holiday mx-5">@holiday</span>
                    }
                </div>
            </div>
            <a id="root-nav" href="/" class=@(classValues(""))>Deals</a>
            <a id="giftcard-nav" href="giftcards" class=@(classValues("giftcards"))>Gift Cards</a>
            <a id="about-nav" href="about" class=@(classValues("about")) target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string uri = string.Empty;
    private string holidays = String.Empty;
    private string[] holidayStrings = Array.Empty<string>();
    private Boolean initialized = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        uri = NavMan.Uri;

        if (initialized)
        {
            return;
        }

        try
        {
            var today = DateTime.Now;
            var twoMoreDays = today.AddDays(2);
            Dictionary<string, string[]> holidayData = await HolidayServiceImpl.GetHolidaysRangeAsync(
            today.ToString("MM-dd"),
            twoMoreDays.ToString("MM-dd"));
            holidayStrings = Helper.BuildHolidayStrings(holidayData);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching holidays: {ex.Message}");
        }
        initialized = true;
    }

    private string classValues(string uriTest)
    {
        if (uriTest == NavMan.ToBaseRelativePath(uri))
        {
            return "d-none";
        }

        return "";
    }
}
